@media screen and (max-width: 980px) {
  .padding_l_0
  {
    padding-left: 15px !important;
  }
  .padding_r_0
  {
    padding-right: 15px !important;
  }

  .padding_mobile_0
  {
    padding: 0px !important;
  }

  header
  {
    padding: 0px 15px;
  }

  #nav-mobile{
        top: 6px !important;
    } 

    #menu{
        width: 100%;
        float: none;
        padding-top: 0px !important;
    }

    #margen_secciones
  {
    padding-top: 80px;
  }

  .padding_0_mobile
  {
    padding: 0px !important;
  }

    /* .owl-prev
    {
      margin-left: 17px !important;
      margin-top: -20px !important;
    }
    .owl-next
    {
      margin-right: 17px !important;
      margin-top: -20px !important;
    } */
}

@media screen and (min-width: 0px) and (max-width: 992px) {

}

/* @media screen and (max-width: 680px) {
  #owl-demo .item img{
        height: 160px !important;
    }
}
@media screen and (min-width: 681px) and (max-width: 1175px) {
  #owl-demo .item img{
        height: 350px !important;
    }
} */


@media screen and (max-width: 520px) {
  #logo a
  {
    font-size: 10px;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 320px) {
  #nav-mobile{
        top: 55px !important;
    }  

    #menu{
        width: 100%;
        float: none;
        padding-top: 50px;
    } 

    #margen_secciones
  {
    padding-top: 120px;
  }
}